package services

import (

        "go.uber.org/zap"
	"{{.Package}}/app/{{.ModuleName}}/domain/ports"
)

type {{.PascalCaseName}}Service struct {
        logger *zap.Logger
	repo ports.{{.PascalCaseName}}Repository
}

func New{{.PascalCaseName}}Service(logger *zap.Logger, repo ports.{{.PascalCaseName}}Repository) *{{.PascalCaseName}}Service {
        return &{{.PascalCaseName}}Service{
                logger: logger,
                repo: repo,
        }
}