package routes

import (
	"github.com/gin-gonic/gin"
	"{{.Package}}/internal/adapters/server/http/handlers"
)

func {{.PascalCaseName}}Routes(r *gin.Engine, handler *handlers.{{.PascalCaseName}}Handler) {
	group := r.Group("{{.Group}}")
	{
        {{- if .CRUD }}
        group.GET("/", handler.List)
        group.POST("/", handler.Create)
        group.GET("/:id", handler.Get)
        group.PATCH("/:id", handler.Update)
        group.DELETE("/:id", handler.Delete)
        {{- else }}
		group.GET("/", handler.Example)
        {{- end }}
	}
}
