package migrations


import (
    {{- if eq .DatabaseDriver "mongodb" }}
    "go.mongodb.org/mongo-driver/v2/mongo"
    {{- else }}
    "github.com/uptrace/bun"
    {{- end }}
)

{{- if eq .DatabaseDriver "mongodb" }}
func {{.PascalCaseName}}Migrate(db *mongo.Database) {
{{- else }}
func {{.PascalCaseName}}Migrate(db *bun.DB) {
{{- end }}

}