package repository

import (
    {{- if eq .DatabaseDriver "mongodb" }}
    "go.mongodb.org/mongo-driver/v2/mongo"
    {{- else }}
    "github.com/uptrace/bun"
    {{- end }}

    "{{.Package}}/app/{{.ModuleName}}/domain/ports"
)

type {{.PascalCaseName}}Repository struct {

    {{- if eq .DatabaseDriver "mongodb" }}
    db *mongo.Database
    {{- else }}
    db *bun.DB
    {{- end }}

}

{{- if eq .DatabaseDriver "mongodb" }}
func New{{.PascalCaseName}}Repository(db *mongo.Database) ports.{{.PascalCaseName}}Repository {
{{- else }}
func New{{.PascalCaseName}}Repository(db *bun.DB) ports.{{.PascalCaseName}}Repository {
{{- end }}
    return  &{{.PascalCaseName}}Repository{
        db: db,
    }
}
