package rest

import (
	"{{.Package}}/app/{{.ModuleName}}/services"
)

type {{.PascalCaseName}}Handler struct {
	svc *services.{{.PascalCaseName}}Service
}

func New{{.PascalCaseName}}Handler(svc *services.{{.PascalCaseName}}Service) *{{.PascalCaseName}}Handler {
	return &{{.PascalCaseName}}Handler{
		svc: svc,
	}
}
